.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  text-align: center;
}

.active {
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
}

.link {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
